[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "*"
importlib-resources = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.8.10"
